/*发现一个关于相对定位的秘密
 若多个div在一个容器中都用相对定位,并设置的宽度,则定位top的时候,top=页面实际px-(上面容器的高度))
 * */
*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	color: inherit;/*继承父元素的样式*/
}
ul{
	list-style: none;
}
body{
	width: 100%;
	min-width: 1280px;
	font: 14px "微软雅黑";
}
/*顶栏*/
header{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	height: 57px;
}
header .header-left,header .header-right{
	position: absolute;
}
header .header-left{
	float: left;
	top: 13px;
	left: 59px;
}
.header-left span{
	position: relative;
	top: -6px;
	left: 12px;
	font-family:"黑体";
	font-size: 21px;
	color: rgb(57,58,58);
}
header .header-right{
	float: right;
	right:67px ;
}
.header-ul li{
	float: left;
	width: 65px;
	height: 52px;
	line-height: 52px;
	margin: 0px 15px;
	font-size: 14px;
	color: #666;
	text-align: center;
}
.header-ul .active{
	color: rgb(231,79,77);
	border-bottom: 5px solid rgb(231,79,77);
}
.header-ul .login{
	color: rgb(231,79,77);
	font-weight:600;
	background: url(../img/task_1_7_1.psd_0000s_0009s_0003__编组_.png) no-repeat left center;
}

/*---*/

.page1,.page1 .content,.page2,.page2 .content,.page3,.page4,.page5,.page6,.page7,.page8,footer,.footer-content,.footer-end{
	width: 100%;
	min-width: 1280px;
}
/*第一页*/
.page1,.page1 .content{
	height: 854px;/*690px*/
}
.container .page1{
	position: absolute;
	top: 57px;
	background: url(../img/task_1_7_1.psd_0000s_0008s_0005_图一.png);
	background-size: 100% 100%;
}
.page1 .content{
	opacity: 1;
	background: url(../img/task_1_7_1.psd_0000s_0008s_0004_图一遮罩.png);
	background-size: 100% 100%;
}
.page1 h1,.page1 .word,.page1 .page1-btn{
	position: absolute;
	color: #FFFFFF;
}
.page1 h1{
	top: 229px;
	left: 117px;
	font-size: 60px ;
	font-weight: 400;
	/*word-spacing: 10px;*/
}
.page1 .word{
	position: absolute;
	top: 309px;
	left: 125px;
	font-size: 21px;
	height: 53px;
	font-weight: 100;
}
.page1 .word p:first-child{
	margin-bottom:10px ;
}
.page1 .page1-btn{
	top:429px;
	left: 126px;
	width: 331px;
	height: 65px;
	background-color: rgb(231,79,77);
}
.page1-btn p{
	text-align: center;
	line-height: 65px;
	font-size:30px;
}
/*486px*/	
/*第二页*/
.page2,.page2 .content,.page2 .group{
	height: 250px;
}
.page2{
	margin: 0px auto;
	position: absolute;
	top: 747px;/*690px*/
	min-width: 1280px;
	width: 100%;
	background-color: #fff;
}
.page2 .content{
	width: 1280px;
	margin: 0px auto;
}
.page2 .group{
	float: left;
	width: 320px;/*313.5两边 中间 326.5*/
	/*background-color: red;*/
}
.page2 .group .icon{
	position: relative;
	top: 46px;
	left: 146px;
	width: 35px;
	height: 40px;
}
.group .group-word{
	position: relative;
	top: 87px;
	padding:0px 45px ;
	height: 51px;
	font-family: "黑体";
	color: rgb(118,119,119);
	text-align: center;
	border-right: 2px solid rgb(171,166,165);
}
.group:last-child .group-word{
	border: none;
}
/*第三页*/
.page3{
	position: absolute;
	top: 997px;
	height: 361px;
	background-color: rgb(237,237,237);
}
.page3-icon{
	position: absolute;
	top: 90px;
	/*left: 596px;*/
	/*居中*/
	left: 0px;
	right: 0px;
	margin: 0px auto;
	width: 91px;
	height: 92px;
}
.page3-word{
	position: absolute;
	top: 229px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	width: 953.45px;
	font: 59.59px "黑体";
	color: rgb(134,126,122);
}

/*第四页*/
.page4{
	position: absolute;
	top: 1357px;
	height: 340px;
	background: url(../img/task_1_7_1.psd_0000s_0004s_0023_看地图.png) no-repeat;
	background-size: 100% 100%;
}
.page4 .content{
	height: 340px;
	background: url(../img/task_1_7_1.psd_0000s_0004s_0022_图二遮罩.png);
	background-size: 100% 100%;
}

.page4-title p:first-child{
	position: absolute;
	top: 57px;
	right: 0px;
	left: 0px;
	margin: 0px auto;
	font-size: 21px;
	color: #FFFFFF;
	text-align: center;
}
.page4-title p:last-child{
	position: absolute;
	top: 88px;
	right: 0px;
	left: 0px;
	margin: 0px auto;
	height: 3px;
	width: 31px;
	background-color:#FFFFFF ;
}

.page4-word{
	position: absolute;
	top: 107px;
	right: 0px;
	left: 0px;
	margin: auto;
	color: #FFFFFF;
	text-align: center;
}
.page4-frombox{
	position: absolute;
	top: 172px;
	left: 0px;
	right: 0px;
	width: 1060px;
	margin: 0px auto;
	z-index: 1;
}
.page4-from-ul>li,.page4-from-content,.page4-from button{
	width: 236px;
	height: 36px;
}
.page4-from-ul>li{
	float:left;
	margin-right:29px;
}
.page4-from-content{
	width:240px;
	background: #FFFFFF;
}
/*.page4-from-content.active{
	border: 2px solid rgb(190,78,72);
}*/
.page4-from-content span{
	display: inline-block;
	text-indent: 13px;
	font-size: 12px;
	color: #a8aaaa;
	line-height: 36px;
	
}
.page4-from-iconBox,.page4-from-icon{
	display: inline-block;
	height: 18px;
	width: 19px;
}
.page4-from-iconBox{
	position: relative;
	top: 4px;
	left: 162px;
	background-color: rgb(190,78,72);
}
.page4-from-icon{
	background: url(../img/task_1_7_1.psd_0000s_0004s_0012__编组_.png) no-repeat center center;
}
.page4-from-select,.page4-from-select li{
	width: 236px;	
}

.page4-from-select{
	height: 170px;
	border: 2px solid rgb(190,78,72);
	background-color: rgb(227,228,228);

}

.page4-from-select li{
	height: 27px;
	line-height: 27px;
}

.page4-from-select li.active{
	background-color: rgb(190,78,72);
	color: #FFFFFF;
}
.page4-from-select li span{
	display: inline-block;
	height: 27px;
	width: 37px;
}
.page4-from-select li span.active{
	background: url(../img/task_1_7_1.psd_0000s_0004s_0009__编组_.png) no-repeat  center center;
}

.page4-from button{
	border: 1px solid rgb(190,78,72);
	background: rgb(190,78,72);
	font-size:14px;
	letter-spacing: 25px;
	color: #FFFFFF;
}
/*第五页*/
.page5{
	position: absolute;
	top:1697px;
	height: 606px;
	background-color: rgb(247,247,247);
}
.page5-show{
	position: relative;
	top: 102px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	width: 977px;
	height: 382px;
	/*background: url(../img/task_1_7_1.psd_0000s_0005s_0001_图三－图六.png) no-repeat;*/
}
.show-items{
	float: left;
	width: 218px;
	height: 385px;
	margin-right: 35px;
	/*background: red;*/
}
.show-items:last-child{
	margin-right: 0px;
}
.show-items-pic{
	width: 218px;
	height: 337px;
	border: 1px solid rgb(205,201,200);
	border-bottom: none;
}
.pic1{
	background: url(../img/task_1_7_1_show1.png) no-repeat center center;
}
.pic2{
	background: url(../img/task_1_7_1_show2.png) no-repeat center center;
}
.pic3{
	background: url(../img/task_1_7_1_show3.png) no-repeat center center;
}
.pic4{
	background: url(../img/task_1_7_1_show4.png) no-repeat center center;
}
.show-items-word p{
	font-size:14px;
	font-weight: bold;
	text-align: center;
	margin-top:19px ;
	height: 25px;
	line-height:25px;
}
.show-items-word p:last-child{
	font-weight: normal;
	color: #a8aaaa;
	height: 20px;
	line-height:20px;
	margin-top:7px ;
}
/*第二幅图*/
.item2 .show-items-pic{
	border: 1px solid rgb(205,201,200);
}
.item2 .show-items-word p:first-child{
	margin: 0px;
	height: 40px;
	line-height: 40px;
	font-size:26px ;
	font-weight: normal;
	text-align: center;
}
.item2 .show-items-word p:last-child{
	margin-bottom: 4px;
}
.letterspacing{
	padding-right: 38px;
}


/*第六页*/
.page6,.page6-left,.page6-right{
	height: 567px;
}
.page6{
	position: absolute;
	top: 2302px;
}
	/*左图*/
.page6-left{
	float: left;
	width: 66.41%;
	min-width: 850px;
	height: ;
	background: url(../img/task_1_7_1.psd_0000s_0003s_0012_图七.png) no-repeat;
	background-size: 100% 100%;
}
.page6-left-newword,.page6-left-time,.page6-left-bjdate{
	position: relative;
	text-align: center;
	color: #FFFFFF;
}
.page6-left-newword{
	top: 132px;
	font-size: 49.47px;
	line-height: 49.47px;
}
.page6-left-time{
	top: 141.53px;
	font-size:157.79px;
	line-height:157.79px;
}

.page6-left-bjdate{
	top: 140px;
	font-size:21.91px;
	
}
.page6-left-bjdate p:last-child{
	margin-top: 20px;
}
.page6-right{
	float: left;
	width: 33.49%;
}
.page6-right-title,.page6-right-word,.page6-right-btn,.page6-right-tabs{
	position: relative;
	left: 0px;
	right: 0px;
	margin: 0px auto;
}
.page6-right-title{
	top: 158px;/*2468*/
	width: 103px;
	height: 20px;
	background: url(../img/task_1_7_1.psd_0000s_0003s_0001_新世界／01.png) no-repeat center center;*/
}
.page6-right-word{
	top: 196px;
	font-size: 12px;
	line-height: 30px;
	width: 324px;
	color: #666666;
}
.page6-right-btn{
	top:228px;/*2670-120-20-2302*/
	width: 107px;
	height: 35px;
	border: 1px solid rgb(228,104,104);
}
.page6-right-btn p{
	text-align: center;
	height: 35px;
	line-height: 35px;
	color: #e25c60;
	font-size: 12px;
}
.page6-right-tabs,.page6-right-tabs ul,.page6-right-tabs ul li{
	width: 63px;
	height: 12px;
}
.page6-right-tabs{
	top: 252px;/*2729-35-120-20-2302*/
	
}
.page6-right-tabs ul li{
	float: left;
	width: 11px;
	height: 12px;
	margin-right: 15px;
	background: url(../img/task_1_7_1.psd_0000s_0003s_0004__编组_.png) no-repeat center center;
}
.page6-right-tabs ul li:last-child{
	margin-right: 0px;
}
.page6-right-tabs ul li.active{
	background: url(../img/task_1_7_1.psd_0000s_0003s_0005__编组_.png) no-repeat center center;
}

/*第七页*/
.page7{
	position: absolute;
	top: 2868px;
	height: 521px;
}
.page7-items{
	float: left;
	width: 33.3%;
	height: 521px;
	min-width: 426.6px;
	font: 21px '黑体';
}
.page7-items.item1{
	color:#FFFFFF;
	background: rgb(231,79,77);
}
.page7-items.item2 .page7-item-btn{
	border: 1px solid rgb(231,79,77);
	color: rgb(231,79,77);
}
.page7-items.item2{
	background: #FFFFFF;
}
.page7-items.item3{
	background: url(../img/task_1_7_1.psd_0000s_0002s_0010__图像_.png) no-repeat;
	background-size: 100% 100%;
}
.page7-item-word,.page7-item-btn{
	
}
.page7-item-word{
	position: relative;
	top:174px;/*3042px*/
	
}
.page7-item-word p:first-child{
	width: 63px;
	margin: 0px auto;
	margin-bottom: 10px;
}
.page7-item-word P:last-child{
	width: 147px;
	margin: 0px auto;
}
.page7-items .line{
	position: relative;
	top: 190px;/*3116-2868-58*/
	height: 3px;
	width: 31px;
	margin: 0px auto;
	background: #FFFFFF;
}
.page7-items.item2 .line{
	background: rgb(171,170,170);
}
.page7-item-btn{
	position: relative;
	top:272px;/*3143px*/
	width: 170px;
	height: 44px;
	margin: 0px auto;
	border: 1px solid #FFFFFF;
}
.page7-item-btn a{
	text-align: center;
	height: 44px;
	line-height: 44px;
}
.page8{
	position: absolute;
	top: 3388px;
	height: 750px;
}
.page8-title{
	position: relative;
	top: 120px;/*3508-3388*/
	text-align: center;
}
.page8-title-head{
	height: 30.36px;
	font:21px '黑体';
}
.page8-title-line{
	width:42px;
	height: 3px;
	margin: 0px auto;
	background: rgb(231,79,77);
}
.page-8-title-word{
	margin-top: 15px;
	color: #aaaaaa;
}
.page-8-title-word:last-child{
	margin-top: 7px;
}
/*新世界协议3694*/
.songti12{
	font-size: 12px;
	font-family: "宋体";
}
.heiti14{
	font-size: 14px;
	font-family: "黑体";
}
.page8-content{
	position: relative;
	top: 200.64px;
	height: 282px;
	width: 78.28125%;
	min-width: 1002px;
	margin: 0px auto;
}
.page8-left,.page8-right{
	height: 282px;
	float: left;
}

.page8-left{
	width: 28.742515%;
	min-width: 288px;
	margin-right: 7.48503%;
	/*background: #E25C60;*/
}
.page8-right{
	min-width: 639px;
	width: 63.772455%;
}
.page8-left-article{
	margin-bottom: 39px;
}
.page8-left-article>p{
	float: right;
	text-indent: 8px;
	background: url(../img/task_1_7_1.psd_0000s_0004s_0013__编组_.png);
}
.page8-left-article>p span{
	float: left;
	font-size:12px;
	font-weight: bold;
}
.page8-left-article-content p:first-child{
	margin-bottom: 27px;
}
.page8-left-article-content p:last-child{
	line-height: 21px;
	color: #aaaaaa;
}
.page8-from-input,.page8-from-textarea{
	margin-bottom: 14px;
}
.page8-from-input{
	width: 48.669797%;
	height: 41px;
	float: left;
}
.page8-from-input input,.page8-from-textarea textarea,.page8-from-btn button{
	width: 100%;
	background: rgb(237,237,238);
	text-indent: 18px;
	border: none;
}
.page8-from-input input,.page8-from-btn button{
	height: 41px;
}
.page8-from-textarea textarea{
	padding-top:18px ;
	height: 103px;
	
}
.page8-margin{
	margin-right: 17px;
}
/*页脚*/
footer{
	position: absolute;
	top: 4138px;
	height:419px ;
	background: rgb(50,53,62);
	font-family: "黑体";
	color: #FFFFFF;
	text-align: center;
}
.footer-content{
	height: 361px;
}
.footer-content-title{
	position: relative;
	top: 92px;
	font-size: 21px;
	height: 21px;
}
.footer-content-word{
	position: relative;
	top: 102px;
	font:12px "宋体" ;
	height:24px;
}
.footer-content-from{
	position: relative;
	top: 139px;
	width: 512px;
	margin: 0px auto;
	height: 41px;
}
.footer-content-from input{
	width: 431px;
	height: 41px;
	text-indent: 10px;
	font: "微软雅黑" 14px;
	border: none;	
}
.footer-content-from button{
	display: block;
	float: right;
	width: 81px;
	height: 41px;
	font: 15px "微软雅黑";
	color: #FFFFFF;
	letter-spacing: 8px;
	background: rgb(104,97,102);
	border: none;
}
.footer-content-icon{
	position: relative;
	top:175px ;
	height: 25px;
	width: 182px;
	margin: 0px auto;
}
.footer-content-icon ul{
	width: 182px;
	height: 25px;
	
}
.footer-content-icon li{
	float: left;
	width: 29px;
	height: 25px;
	margin: 0px 11px;
	
}
.footer-content-icon li span{
	display: block;
	width: 29px;
	height: 25px;
}
.footer-content-icon .icon1{
	background: url(../img/task_1_7_1.psd_0000s_0000s_0008__编组_.png) no-repeat center center;
}
.footer-content-icon .icon2{
	background: url(../img/task_1_7_1.psd_0000s_0000s_0009__编组_.png) no-repeat center center;
}
.footer-content-icon .icon3{
	background: url(../img/task_1_7_1.psd_0000s_0000s_0007__编组_.png) no-repeat center center;
}
.footer-content-icon .icon4{
	background: url(../img/task_1_7_1.psd_0000s_0000s_0006__编组_.png) no-repeat center center;
}
.footer-content-icon li:first-child{
	margin-left:0px;
}
.footer-content-icon li:last-child{
	margin-right:0px;
}

.footer-end{
	position: relative;
	top: 27px;
	height: 58px;
	background: rgb(47,48,56);
}
.footer-end p{
	height: 58px;
	line-height: 58px;
}
.footer-end p span:first-child{
	margin-left: 100px;
	float: left;
}
.footer-end p span:last-child{
	margin-right: 40px;
	float: right;
}
