/*浮出层:surface*/
*{
	margin:0px;
	padding: 0px;
	font: 14px "微软雅黑" ;
	
}
.content{
	color: #FFFFFF;
}
.surface{
	position: fixed;
	border: 1px solid #16324A;
	z-index: 99999;
	background: #FFFFFF;
	display: none;
}

.surface-head{
	position: relative;
	top: 0px;
	display: block;
	background: #ddd;
	height: 40px;
	border-bottom: 1px solid #16324A;
	padding: 0px 20px;
}
.surface-head-title p{
	font: 22px "楷体";
	line-height: 40px;
}
.surface-head-title{
	float: left;
}
.surface-head-icon{
	float: right;
}
.surface-head-icon .icon-close{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../images/close.ico) no-repeat center center;
}
.surface-head-icon .icon-close:hover{
	cursor: pointer;
}
.surface-content{
	position: relative;
	top: 0px;
	padding: 0px 20px;
}
.surface-foot{
	position: absolute;
	width: 100%;
	bottom: 0px;
	border-top: 1px solid #16324A;
	box-sizing: border-box;
	padding: 0px 20px;
}
.surface-foot p{
	line-height: 40px;
}
/*拖拽线和点*/
.surface .resizeBR {
	position:absolute;
	width:14px;
	height:14px;
	right:0;
	bottom:0;
	overflow:hidden;
	cursor:nw-resize;
	z-index: 1;
	background:url(../images/resize.png) no-repeat;
}
.surface .resizeL, .surface .resizeT, .surface .resizeR, .surface .resizeB, .surface .resizeLT, .surface .resizeTR, .surface .resizeLB {
	position:absolute;
	background:#000;
	overflow:hidden;
	opacity:0;
	filter:alpha(opacity=0);
}
.surface .resizeL, .surface .resizeR {
	top:0;
	width:10px;
	height:100%;
	cursor:w-resize;
}
.surface .resizeR {
	right:0;
}
.surface .resizeT, .surface .resizeB {
	width:100%;
	height:5px;
	cursor:n-resize;
}
.surface .resizeT {
	top:0;
}
.surface .resizeB {
	bottom:0;
}
.surface .resizeLT, .surface .resizeTR, .surface .resizeLB {
	width:16px;
	height:16px;
	background:#FF0;
}
.surface .resizeLT {
	top:0;
	left:0;
	cursor:nw-resize;
}
.surface .resizeTR {
	top:0;
	right:0;
	cursor:ne-resize;
}
.surface .resizeLB {
	left:0;
	bottom:0;
	cursor:ne-resize;
	z-index: 1;
}


/*按钮*/

body{
	background-color: #000000;
	height: 3000px;
	width: 100%;
}
.container{
	width: 400px;
	margin: 250px auto;
}
div.box{
	width: 210px;
	height: 280px;
	float: left;
	margin: 0px 30px;
}

.box .logo{
	display: block;
	width: 100%;
	height: 200px;
	transition:all 0.3s ;	
}
.box .btn{
	display: block;
	width: 176px;
	height:45px;
	line-height: 45px;
	margin: 0px auto;
	border: 3px solid rgba(255, 255, 255, 0.7);
	color: #2DCB70;
	text-decoration: none;
	padding-left: 30px;
	/*box-sizing: border-box;*/
	background: transparent url(../images/allow.png) no-repeat scroll 140px center;
	position: relative;
	transition: all 0.4s;
}
.box1 .logo{
	background:transparent url(../images/mission.png) no-repeat center ;	
}
.box .logo:hover{
	transform:rotate(360deg) scale(1.2);
	
}
.box .btn:hover{
	border: 3px solid rgba(255, 255, 255, 1);
}
.box .btn:hover{
	background: url(../images/allow.png) 160px center no-repeat;
}

.box .btn .line{
	display: block;
	position: absolute;
	transition: all 0.4s;
	background-color:#FFFFFF;
	
}
.box .line-ltop{
	top: -2px;
	left: -150px;
	width: 40px;
	height: 0px;
}
.box .line-rtop{
	top: -50px;
	left: 206px;
	height: 20px;
	width: 0px;
}
.box .line-lbottom{
	top: 95px;
	left: -2px;
	width: 0px;
	height: 20px;
}
.box .line-rbottom{
	top: 45px;
	left: 278px;
	width: 80px;
	height: 0px;
}
.box .btn:hover .line-ltop{
	height: 2px;
	left: 0px;
}
.box .btn:hover .line-rtop{
	width: 2px;
	top: 0px;
}
.box .btn:hover .line-lbottom{
	top: 25px;
	width: 2px;
}
.box .btn:hover .line-rbottom{
	left: 128px;
	height: 2px;
}
